@use '../../assets/Style/Style.scss' as *;

.sidebare {
  display: flex;
  flex-direction: column;
  width: 15em;
  position: relative;
  padding: .5em 1em;
  gap: .5em;
  background-color: $white;

  input {
    outline: none;
    padding: .5em 1em;
    border-radius: .5em;
  }

  .all-user {
    display: flex;
    flex-direction: column;
    gap: .1em;
    overflow: auto;

    .user {
      display: flex;
      align-items: center;
      gap: .5em;
      text-transform: capitalize;
      padding: .5em 1em;
      border-bottom: .1em solid $black;

      .pdp {
        width: 2.5em;
        height: 2.5em;
        border: .1em solid black;
        border-radius: 100%;
      }

      .detail {
        display: flex;
        flex-direction: column;

        .name {
          text-transform: capitalize;
          color: $black;
        }

        .status {
          width: .5em;
          height: .5em;
          border-radius: 100%;
        }

        .online {
          background-color: $status;
        }

        .offline {
          background-color: #f53578;
        }
      }
    }
  }

  .new-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    background-color: $mostly;
    bottom: 1.5em;
    right: .5em;
    border-radius: .5em;
    padding: .5em 1em;
    color: $white;
    box-shadow: .2em .2em .1em $black;
    gap : 1em;

    &:hover {
      background-color: rgba($mostly, .8);
      color: rgba($white, .8);
    }

    &:active {
      scale: .95;
    }
  }
}